.wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px 32px 108px;

  & > div:nth-child(1) {
    flex-grow: 1;
    overflow-y: scroll;
  }

  & > div:nth-child(2) {
    position: fixed;
    display: flex;
    height: 64px;
    bottom: 24px;
    left: 24px;
    right: 24px;

    input {
      flex-grow: 1;
      font-size: 36px;
    }
  }
}


.comment {
  font-size: 24px;
  border-radius: 16px;
  border: 1px solid #cccccc;
  padding: 16px;
  margin-top: 16px;
}
